<!-- List-PVG-Item.component-->
<div class="container">
        <div class="row">
                <div class="col-xs-12">
                        <h2>Here are the most popular video games in 2019</h2>
                        <ul class="list-group">
                                <app-list-pvg-item *ngFor="let game of games | paginate: { itemsPerPage: 5, currentPage: p }" 
                                        [gameName] = "game.name"
                                        [releaseDate]="game.released"
                                        [category]="game.genres"
                                        [ranking]="game.metacritic"
                                        [src]="game.background_image">    
                                </app-list-pvg-item>
                        </ul>
                </div>
        </div>
</div>

<!-- Pagination with NGX-->
<pagination-controls (pageChange)="p = $event"></pagination-controls>




